body{
  background-color: #000000;
  color:#ffffff;
  margin: 50px;
}

#maze{
  border: 1px #ffffff solid;
  display: inline-block;
}

.maze-cell{
  width: 20px;
  height:20px;
  border: 1px #ffffff solid;
  color: #3c3c3c;
}

.down{
  border-bottom-color: #000000;
}

.right{
  border-right-color: #000000;
}

.resolve{
  background-color:rgba(0, 255, 0, 0.9);
}

.path{
  background-color:rgba(0, 255, 0, 0.2)!important;
}

.light{
  animation-name: lightAnim;
  animation-duration: 1s;
}

@keyframes lightAnim {
    from {background-color: #ffffff;}
    to {background-color: #212121;}
}

.visited.light{
  background-color: #212121;
}

.start{
  background-color: green;
}
.end{
  background-color: red;
}
